{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Ganyanmatik{% endblock %}

{% block content %}
  <h1>Ganyanmatik Uygulamasina Hosgeldiniz.</h1>
  <form method="POST" action="/">
    {{ form.csrf_token }}
    <div class="container">
      <p>1- AGF</p>
      {% for column in form.column1 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>2- TGP</p>
      {% for column in form.column2 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>3- HAND. PU</p>
      {% for column in form.column3 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>4- BLG. SP. PU. </p>
      {% for column in form.column4 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>5- GRC. PU.</p>
      {% for column in form.column5 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>6- FAN BI. PU.</p>
      {% for column in form.column6 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>7- FAN PU</p>
      {% for column in form.column7 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>8- CIM GEK.</p>
      {% for column in form.column8 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>9- CIM ORT.</p>
      {% for column in form.column9 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>10- KUM GEK.</p>
      {% for column in form.column10 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>11- KUM ORT.</p>
      {% for column in form.column11 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>12- ORT. MES.</p>
      {% for column in form.column12 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>13- EN IYI MES.</p>
      {% for column in form.column13 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>14- AYNI MES.</p>
      {% for column in form.column14 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>15- TEC FAKT.</p>
      {% for column in form.column15 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>16- MES FAKT.</p>
      {% for column in form.column16 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>17- S. TEC. FAKT.</p>
      {% for column in form.column17 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>18- S. MES. FAKT.</p>
      {% for column in form.column18 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>19- ORT. DERE.</p>
      {% for column in form.column19 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>20- TAH. DERE.</p>
      {% for column in form.column20 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>21- JOKEY %</p>
      {% for column in form.column21 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>22- AT. TOP. KAZANC</p>
      {% for column in form.column22 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>23- GLP 400</p>
      {% for column in form.column23 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>24- GLP 600</p>
      {% for column in form.column24 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>25- GLP 800</p>
      {% for column in form.column25 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>26- GLP 1000</p>
      {% for column in form.column26 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>27- GLP 1200</p>
      {% for column in form.column27 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>28- NEGAPAT</p>
      {% for column in form.column28 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>29- GEC 6LI</p>
      {% for column in form.column29 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>30- KATSAYI</p>
      {% for column in form.column30 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      <p>31- ASIST ANALIZ</p>
      {% for column in form.column31 %}
      {{ column }}
      {% endfor %}
    </div>
    <hr>
    <div class="container">
      {{ form.submit }}
    </div>
    <hr>
</form>
<div class="container">
  <a href="{{url_for('home')}}">Resetle</a>
</div>


{% endblock %}